*, ::before, ::after, hr, hr::before, hr::after, input[type="search"], input[type="search"]::before, input[type="search"]::after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::selection { background: #CEEBF8;}
html, body
{
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*scroll-behavior: smooth;*/
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: bold;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato/Lato-Lato-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: bold italic;
	font-display: swap;
}
html, body
{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1px;
	/*background-color: #fcf6e6;*/
	background-color: #ffffff;
	color: #333333;
	font-weight: 300;
	width: 100%;
	height: 100%; 
	transition: all 0.3s;
}
h1, h2, h3, h4, h5, h6, p {margin: 0;}
h1 { font-size: 72px; }
h2 { font-size: 48px;}
h3 { font-size: 32px; }
h4 { font-size: 22px; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }
p { font-size: 18px; }
p:last-child { margin-bottom: 0px; }
ul { padding: 0px; }
a { color: inherit; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; -webkit-font-smoothing: antialiased;}
a:focus, a:hover { color: #fdcc39; text-decoration: none; }
img{width: 100%;height: 100%;object-fit: contain;}
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid rgba(0,0,0,0.1); }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb100 { margin-bottom: 100px !important; }
.mt0 { margin-top: 0px; }
.mt5{ margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt60 { margin-top: 60px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px;}
.mt120 { margin-top: 120px;}
.mt140 { margin-top: 140px; }

.btn-utama
{
	display: inline-block;
	overflow: hidden;
	min-width: 220px;
	text-align: center;
	padding: 16px 0;
	border-radius: 48px;
	background-color: #fbcc3e;
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: -0.02em;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.btn-utama:hover
{
	color: #fff;
	box-shadow: 1px 1px 2px 2px hsla(0,0%,0%,0.1);
}
.btn-kedua
{
	cursor: pointer;
	background: transparent;
	color: #fbcc3e;
	position: relative;
	display: inline-block;
	width: auto;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	letter-spacing: 1.2px;
	padding: 15px 25px;
	border: 1px solid #fbcc3e;
	border-radius: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-kedua:hover
{
	color: #fbcc3e;
	box-shadow: 1px 1px 2px 2px hsla(0,0%,0%,0.1);
}
.button-hover {
	position: relative;
	height: 56px;
	-moz-transition: ease 0.35s all;
	-o-transition: ease 0.35s all;
	-webkit-transition: ease 0.35s all;
	transition: ease 0.35s all;
}
.button-hover:hover {
	line-height: 9em;
}
.button-hover:before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: -3.15em;
	width: 100%;
	text-align: center;
}
/*  ==========================  FORM FIELD  ==========================*/

.form-control:focus, .has-warning .form-control:focus,
.has-error .form-control:focus, .has-success .form-control:focus
{
	outline: 0; -webkit-box-shadow: none; box-shadow: none;
}
.form-control[disabled]
{
	border: 0;
	background-color: #dedede;
}
.form-control[disabled]:hover
{
	border: 0;
}
.form-group
{
	position: relative;
	margin-bottom: 20px;
}
.has-error .form-control
{
	box-shadow: none;
}
input.form-control{
	position: relative;
	height: 50px;
	padding: 0 5px;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px;
	text-transform: none;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1px;
	font-weight: 400;
	transition: all 0.3s;
}
input.form-control::placeholder,
textarea.form-control::placeholder
{
	color: rgba(0,0,0,0.20);
}
input.form-control:hover,
input.form-control:focus,
input.form-control:active
{
	border-color: #fbcc3e;
}
select.form-control
{ 
	color: #333333;
	height: 50px;
	padding: 0 15px;
	background-color: transparent;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: 95% 45%;
	background-repeat: no-repeat;
	background-image: url("../images/chevron-down.png");
	background-size: 20px;
	font-size: 16px;
	box-shadow: none;
	cursor: pointer;
	font-weight: 400;
}
select.form-control:hover,
select.form-control:focus,
select.form-control:active
{
	border: 2px solid #fbcc3e;
}
.select2-container--default .select2-selection--single
{
	height: 40px !important;
	border-bottom: 2px solid rgba(0,0,0,0.1) !important;
	border: 0 !important;
	border-radius: 0 !important;
	border-bottom: 2px solid rgba(0,0,0,0.1) !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered
{
	color: #fdcc39 !important;
	font-size: 16px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered
{
	padding: 5px !important;
}
textarea.form-control {
	background-color: transparent;
	min-height: 85px;
	position: relative;
	display: block;
	width: 100%;
	padding: 5px 15px;
	text-transform: none;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
	font-weight: 400;
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid rgba(0,0,0,0.1);
	box-shadow: none;
	/*resize: none;*/
}
textarea.form-control:hover,
textarea.form-control:focus,
textarea.form-control:active
{
	border-bottom: 2px solid #fbcc3e;
}
label.control-label
{
	position: relative;
	display: inline-block;
	font-size: 16px;
	color: #333333;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius: 0;
	margin-left: 5px;
	margin-bottom: 5px;
}
.modal-content
{
	border-radius: 20px;
}
.modal-footer
{
	border: 0;
}
.modal-header .may-category
{
	display: inline-block;
	position: relative;
}
.modal-header .close{
	position: absolute;
	top: 15px;
	right: 10px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-top: -4px;
	margin-right: 10px;
	font-size: 30px;
	width: 35px;
	height: 35px;
	transition: all 0.3s;
}
.modal-header .close span
{
	position: relative;
	top: -3px;
}
#select-dropdown {
	margin-top: 5px;
	background: transparent;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	outline: 0;
	display: block;
	text-align: left;
	font-size: 16px;
	width: 100%;
	cursor: pointer;
	color: #5A5957;
	text-decoration: none;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	opacity: 1;
	-webkit-transform-origin: right top;
	transform-origin: right top;
}
#select-dropdown.open {
	opacity: 0;
}
.button-group {
	position: relative;
	width: 215px;
}
.button-group .marka {
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: 9999;
	cursor: pointer;
}
.button-group .marka i {
	background: grey!important;
}
.marka-icon-times{
	border: 1px solid grey;
	border-radius: 50%; 
	top: 5px !important;
	right: 5px !important;
}
#dropdown-menu {
	position: absolute;
	top: -1em;
	right: 0;
	left: 0;
	margin: 1em auto;
	padding: 15px 20px;
	width: 100%;
	list-style: none;
	text-align: left;
	border-radius: 5px;
	background: #fff;
	transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: right top;
	transform-origin: right top;
	-webkit-transition: box-shadow .5s ease-out;
	box-shadow: 0 8px 18px 0 rgba(0,0,0,.18);
}
#dropdown-menu li {
	position: relative;
	line-height: 24px;
	margin-bottom: 15px;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	opacity: 0;
}
#dropdown-menu li:nth-last-child(1){
	margin-bottom: 0;
}
#dropdown-menu li:hover{
	background-color: #33b8c41a;
}
#dropdown-menu li a {
	color: #5A5957;
	text-decoration: none;
	font-size: 1em;
}
#dropdown-menu.open {
	-webkit-transform: scale(1);
	transform: scale(1);
}
#dropdown-menu.open li {
	transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.open li:nth-child(1) {
	transition-delay: 0.07s !important;
}
.open li:nth-child(2) {
	transition-delay: 0.14s !important;
}
.open li:nth-child(3) {
	transition-delay: 0.21s !important;
}
.open li:nth-child(4) {
	transition-delay: 0.28s !important;
}
.open li:nth-child(5) {
	transition-delay: 0.35s !important;
}
/*====================================== SECTION WORD ======================================*/
.may-head{
	line-height: 72px;
	letter-spacing: 1px;
	font-weight: 700;
	color: #333333;
	text-transform: capitalize;
	transition: all 0.3s;
}
.may-category{
	line-height: 56px;
	letter-spacing: -0.05em;
	font-weight: 400;
	color: #333333;
	text-transform: capitalize;
	transition: all 0.3s;
}
.may-main{
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -0.02em;
	color: #fbcc3e;
	transition: all 0.3s;
}
.may-semi{
	font-weight: 300;
	line-height: 32px;
	letter-spacing: -0.02em;
	color: #333333;
	transition: all 0.3s;
}
.may-info{
	line-height: 24px;
	letter-spacing: 1.2px;
	font-weight: 300;
	color: rgba(0,0,0,0.50);
	transition: all 0.3s;
}
.may-break{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.may-small{
	font-size: 12px;
	color: rgba(0,0,0,0.50);
	line-height: 24px;
	letter-spacing: 1.5px;
}
.main-color{
	color: #fbcc3e !important;
	/*#ffbc06*/
}
.black{
	color: #333333 !important;
}
.info{
	color: rgba(0,0,0,0.50) !important;
}
.bold{
	font-weight: 700 !important;
}
.white{
	color: #fff !important;
}
.box-shadow{
	-webkit-transition: box-shadow .5s ease-out;
	box-shadow: 0 8px 18px 0 rgba(0,0,0,.18);
	transition: box-shadow .5s ease-out;
}
.no-pad{
	padding: 0;
}
.block{
	display: block;
}
.full{
	width: 100%;
}
.inline-block{
	display: inline-block;
}
.regular
{
	font-weight: 400;
}
.normal
{
	font-weight: 300;
}
.no-transform
{
	text-transform: none;
}
.italic
{
	font-style: italic;
}
.justify
{
	text-align: justify;
}
.load-more button.btn-kedua
{
	margin: 20px 0;
	padding-left: 30px;
	padding-right: 30px;
}
.navbar-space
{
	margin-top: 100px;
}
.sticky-subhead
{
	position: -webkit-sticky; 
	position: sticky;
	top: 100px;	
}
.section-shadow
{
	z-index: -1;
	position: absolute;
	left: 0;
	top: 25px;
}
.section-heading
{
	max-width: 568px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.section-heading .may-head
{
	letter-spacing: 2px;
	margin-bottom: 20px;
	font-size: 60px;
}
.relative
{
	position: relative;
}
.dash
{
	position: relative;
	top: -5px;
	display: inline-block;
	background-color: #333333;
	margin-right: 5px;
	height: 2px;
	width: 25px;
}
.overflow-hidden
{
	overflow: hidden
}
/*====================================== SECTION NAVBAR ======================================*/
header {
	/*background-color: #fff;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	/*border-bottom: 2px solid #fff;*/
	z-index: 99;
	will-change: transform;
	transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
	transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
header nav
{
	overflow: hidden;
	padding: 15px;
}
header nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}	
header #navigation .logo
{
	display: block;
	float: left;
	margin-top: -13px;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	font-weight: 500;
	color: #393e46;
}
#navigation
{
	background-color: #fff;
}
header #navigation .logo.black
{
	display: block;
}
header #navigation.scrolled .logo.black
{
	display: none;
}
header #navigation .logo.white
{
	display: none;
}
header #navigation.scrolled .logo.white
{
	display: block;
}
header #navigation .logo img.navbar-logo
{
	margin-top: 5px;
	width: 150px;
	object-fit: contain;
}
@media (min-width: 768px) {
	header nav ul li {
		float: left;
		margin-left: 2rem;
	}
}
@media (max-width: 768px) {
	.nav-toggle
	{
		display: block;
	}
}
header nav ul li a {
	display: block;
	font-size: 18px;
}
.hide-nav {
	transform: translateY(-120%) !important;
	-webkit-transform: translateY(-120%) !important;
}
ul.menu-right
{
	float: right;
}
ul.menu-right li 
{
	margin-left: 15px;
}
ul.menu-right li a
{
	width: 100%;
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 1.2px;
	padding: 10px 15px 12px 15px;
	background-color: transparent;
	color: #333333;
	border-radius: 30px;
	transition: all 0.3s;
}
ul.menu-right li:hover a
{
	/*background-color: #fcf6e6;*/
	background-color: #fbcc3e;
	color: #fff;
}
ul.menu-right li.acc a
{
	background-color: #fbcc3e;
	border-radius: 30px;
	color: #fff;
}
ul.menu-right li.login a
{
	border: 1px solid #fbcc3e;
	border-radius: 30px;
}
.nav-toggle {
	display: none;
	border-radius: 5px;
	background-color: transparent;
	float: right;
	height: 38px;
	width: 38px;
	cursor: pointer;
	padding: 5px;
	margin-top: 0;
	position: relative;
	top: 5px;
}
.nav-toggle span:nth-child(2)
{
	width: 65%;
	margin-left: auto;
}
.nav-toggle span:last-child 
{
	width: 90%;
	margin-left: auto;
}
.nav-toggle.open span:first-child {
	transform: rotate(45deg) translate(4.4px, 5.4px);
}
.nav-toggle.open span:nth-child(2) {
	width: 0;
	opacity: 0;
}
.nav-toggle.open span:last-child {
	width: 100%;
	transform: rotate(-45deg) translate(4.4px, -6.4px);
}
.nav-toggle span {
	position: relative;
	display: block;
	height: 2px;
	width: 100%;
	margin-top: 6px;
	background-color: #fbcc3e;
	transition: all 0.3s;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-wrapper
{
	margin: 20px 0;
}
.swiper-slide {
	font-size: 18px;
	background: transparent;
	width: auto;
	margin-right: 20px;
	border-radius: 5px;
	margin-right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide:nth-child(2n) {
	width: 40%;
}
.swiper-slide:nth-child(3n) {
	width: 40%;
}
.swiper-slide .desc
{
	margin-top: 20px;
}
.swiper-wrapper .swiper-slide > a{
	width: 100%;
}
.swiper-button-wrapper
{
	position: absolute;
	top: 22px;
	text-align: center;
}
.swiper-button-next{
	background-image: url("../images/chevron-right.png");
	opacity: 1;
	transition: all 0.3s;
	right: 20px;
}
.swiper-button-prev{
	background-image: url("../images/chevron-left.png");
	opacity: 1;
	transition: all 0.3s;
	left: 20px;
}
.swiper-button-next, .swiper-button-prev{
	top: 45%;
	width: 48px;
	height: 48px;
	background-size: contain;
	cursor: pointer;
}
/*====================================== SECTION LANDING PAGE ======================================*/
.hero-image
{
	background-image: url("../images/hero-bg.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.hero-word
{
	max-width: 400px;
	padding-top: 100px;
}
.hero-word h2.may-category span
{
	display: inline-block;
}
.dash-hero
{
	margin: 20px auto;
}
.hero-action
{
	margin-left: 50px;
	margin-top: 30px;
}
.download-app
{
	display: inline-block;
	max-width: 150px;
	width: 100%;
	margin: 0 10px;
	transition: all 0.3s;
}
.download-app:hover
{
	transform: translateY(-5px);
	box-shadow: 0 8px 18px 0 rgba(0,0,0,.18);
}
section.section-interest,
section.section-edu-intermezo
{
	overflow: hidden;
	position: relative;
	padding: 75px 0;
	border-top: 2px solid #fbcc3e;
	border-bottom: 2px solid #fbcc3e;
	margin-top: 50px;
	margin-bottom: 100px;
}
.bg-interest
{
	opacity: 0.5;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -10px;
}
.interest-wrapper .word
{
	font-weight: 400;
	margin-left: 15px;
	max-width: 100px;
}
.interest-wrapper h2 span
{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -15px;
	text-align: center;
}
.over-image
{
	max-width: 500px;
	margin: 50px auto 0 auto;
}
.over-list .row
{
	margin-bottom: 20px;
}
.over-list .over-icon
{
	max-width: 125px;
	margin: 0 auto;
}
.over-list .over-word h2.may-category
{
	font-size: 26px;
}
section.section-features-home
{
	position: relative;
	background-color: #242021;
	margin: 150px 0;
	padding: 50px 0;
}
.bg-feature
{
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.col-index
{
	z-index: 10;
}
.feature-list .list
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 30px;
}
.feature-list .icon
{
	display: inline-block;
	width: 100%;
	max-width: 60px;
	margin-right: 20px;
}
.feature-image
{
	position: absolute;
	bottom: 0;
	right: 0;
}
.feature-image .image
{
	opacity: .99;
	z-index: 1;
	position: relative;
	max-width: 700px;
}
.signup-container
{
	background-image: url("../images/bg-signup.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
	position: relative;
	background-color: #fbcc3e;
	padding: 75px;
	border-radius: 50px;
}
.signup-container .signup-word
{
	max-width: 500px;
}
.signup-container .signup-word .action
{
	margin: 20px 0 20px 60px;
}
.signup-container .signup-word .action a.btn-utama
{
	background-color: #fff;
	color: #fbcc3e;
}
.signup-image
{
	z-index: 1;
	position: absolute;
	right: 0px;
	bottom: 0;
	max-width: 400px;
}
.card-testimoni
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	background-color: #fcf6e6;
	max-width: 320px;
	border-radius: 30px;
	padding: 10px 15px 20px 15px;
	margin-top: 100px;
}
.col-testi:nth-child(2)
{
	margin-top: 30px
}
.col-testi:nth-child(3)
{
	margin-top: 60px
}
.card-testimoni .photo
{
	max-width: 150px;
	width: 100%;
	margin-top: -100px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.card-testimoni .wrapper
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
/*====================================== SECTION EDUCATION PAGE ======================================*/
section.section-edu
{
	position: relative;
	height: 100%;
	background-image: url("../images/bg-section-edu.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.bg-edu
{
	z-index: -1;
	position: absolute;
	left: 0;
	top: 8vh;
	width: 100%;
	height: 100%;
}
.bg-edu #lottie-edu
{
	width: 100%;
	height: 100%;
}
.edu-hero .word
{
	max-width: 720px;
	margin: 0 auto;
	text-align: center;
}
.edu-hero .word h2.may-category span
{
	display: inline-block;
}
.edu-hero .cta
{
	margin: 20px 0 0 0;
}
/*.edu-image
{
	z-index: -1;
	margin-top: -125px;
	}*/
	.edu-image .image
	{
		max-width: 728px;
		margin: 50px auto;
	}
	section.section-edu-benefit
	{
		height: 160vh;
	}

	@media only screen and (max-width: 1440px)
	{
		section.section-edu-benefit
		{
			height: 150vh;
		}
	}
	section.section-edu-benefit .may-headline
	{
		max-width: 720px;
		margin: 0 auto 100px auto;
		text-align: center;
	}
	.edu-benefit-container
	{
		max-width: 1024px;
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}
	.edu-benefit-container .phone .bg
	{
		max-width: 550px;
		margin: 0 auto;
	}
	.edu-benefit-container .benefit
	{
		position: absolute;
	}
	.edu-benefit-container .benefit .wrapper
	{
		position: relative;
		max-width: 320px;
		background-color: #fff;
		box-shadow: 0 8px 18px 0 rgba(0,0,0,.18);
		border-radius: 20px;
		padding: 15px;
	}
	.edu-benefit-container .benefit .wrapper .image
	{
		max-width: 75px;
		margin-bottom: 20px;
	}
	.edu-benefit-container .benefit .wrapper .number
	{
		max-width: 75px;
		position: absolute;
		top: 0;
		right: 0;
	}
	.edu-benefit-container .benefit .wrapper .word h2
	{
		font-size: 25px;
		line-height: 30px;
	}
	.edu-benefit-container .benefit.one
	{
		top: 0;
		left: -50px;
	}
	.edu-benefit-container .benefit.two
	{
		top: 0;
		right: -50px;
	}
	.edu-benefit-container .benefit.three
	{
		top: 300px;
		left: -100px;
	}
	.edu-benefit-container .benefit.four
	{
		top: 320px;
		right: -100px;
	}
	.edu-benefit-container .benefit.five
	{
		bottom: -150px;
		left: 25px;
	}
	.edu-benefit-container .benefit.six
	{
		bottom: -150px;
		right: 25px;
	}
	.signup-container.modul-container
	{
		background-image: url("../images/bg-modul.png");
	}
	.signup-container.modul-container
	{
		background-color: #333333;
	}
	.signup-container.modul-container .action .btn-utama
	{
		background-color: #fbcc3e !important;
		color: #fff !important;
	}
	section.section-edu-kelas
	{
		margin-top: 350px;
		background-image: url("../images/bg-kelas.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		padding: 75px 0; 
		margin-bottom: 50px;
	}
	.container.container-modul
	{
		margin-top: -400px;
	}
	section.section-edu-kelas .may-headline
	{
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.card-kelas .banner
	{
		width: 100%;
		height: 225px;
		margin-bottom: 10px;
	}
	.card-kelas .banner img
	{
		object-fit: contain;
	}
	.card-kelas .wrapper
	{
		border: 1px solid rgba(0,0,0,0.1);
		background-color: #fff;
		border-radius: 20px;
		padding: 10px 15px;
		margin-bottom: 30px;
		transition: all 0.3s;
	}
	.card-kelas:hover .wrapper
	{
		border-color: transparent;
		box-shadow: 0 8px 18px 0 rgba(0,0,0,.18);
	}
	.card-kelas .wrapper .name
	{
		max-height: 64px;
		min-height: 64px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	.card-kelas .wrapper .guest,
	.card-kelas .wrapper .duration
	{
		margin-bottom: 5px;
	}
	.card-kelas .wrapper .icon,
	.card-kelas .wrapper p.may-small
	{
		display: inline-block;
		margin-right: 5px;
	}
	.card-kelas .wrapper p.may-small
	{
		position: relative;
		top: -1px;
	}
	.card-kelas .wrapper p.may-semi
	{
		font-size: 16px;
	}
	/*====================================== SECTION FEATURE PAGE ======================================*/
	section.section-feature
	{
		width: 100%;
		height: 100%;
		position: relative;
		background-image: url("../images/hero-feature-right.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right center;
		margin-bottom: 100px;
	}
	.feature-hero-bg
	{
		position: absolute;
		right: 0;
		top: 0;
	}
	.feature-hero-bg .image
	{
		z-index: -1;
		max-width: 1024px;
	}
	section.section-feature-list
	{
		overflow: hidden;
		background-image: url("../images/feature-left.png"),
		url("../images/feature-right-1.png"),
		url("../images/feature-right-2.png");
		background-size: 175px, 200px, 200px;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: top left, top 400px right -10px, bottom 200px right -30px;
	}
	section.section-feature-list .may-headline
	{
		max-width: 480px;
		margin: 0 auto 100px auto;
	}
	.row-feature
	{
		margin-top: 150px;
	}
	.list-group.vertical-steps{
		width: 0;
		margin: 0 auto;
		padding-left:10px;
	}
	.list-group.vertical-steps .list-group-item{
		position: relative;
		border:none;
		border-left:3px solid #fbcc3e;
		box-sizing:border-box;
		border-radius:0;
		counter-increment: step-counter;
		padding-left:20px;
		padding-right:0px;
		padding-bottom: 0;  
		padding-top:0px;
	}
	.list-group.vertical-steps .list-group-item.active{
		background-color:transparent;
		color:inherit;
	}
	.list-group.vertical-steps .list-group-item:last-child{
		border-left:3px solid transparent;
		padding-bottom:0;
	}
	.list-group.vertical-steps .list-group-item::before {
		z-index: 9999;
		position: absolute;
		border-radius: 50%;
		background-color: #fbcc3e;
		content: counter(step-counter);
		display: inline-block;
		float: left;
		height: 40px;
		width: 40px;
		margin-left: -42px;
		padding-top: 6px;
		text-align: center;
		color: #333333;
		font-weight: 700;
		font-size: 25px;
		line-height: 25px;
	}
	.list-group.vertical-steps .list-group-item::after
	{
		z-index: 1;
		content: "";
		position: absolute;
		top: -5px;
		left: -27px;
		background-color: #fbcc3f59;
		width: 49px;
		height: 49px;
		border-radius: 50%;
	}
	.list-group.vertical-steps .list-group-item span,
	.list-group.vertical-steps .list-group-item a{
		display:block;
		padding-top:2px;
	}
	.list-wrapper
	{
		position: relative;
		top: -125px;
	}
	.list-left
	{
		position: absolute;
		top: 0;
		left: -430px;
	}
	.list-right
	{
		margin-left: 50px;
	}
	.list-group-item .image
	{
		max-width: 400px;
		min-width: 400px;
		position: relative;
	}
	.list-left .image
	{
		right: 50px;
	}
	.list-word
	{
		position: relative;
		max-width: 400px;
		min-width: 400px;
		padding: 75px 0;
	}
	.list-left .list-word
	{
		text-align: right;
		position: relative;
		right: 75px;
	}
	.list-right .list-word .icon
	{
		position: absolute;
		top: 75px;
		right: -150px;
	}
	.list-left .list-word .icon
	{
		position: absolute;
		top: 75px;
		left: -150px;
	}
	.list-word .icon .image
	{
		width: 75px;
		height: 75px;
	}
	/*====================================== SECTION FEATURE PAGE ======================================*/
	section.section-campaign
	{
		width: 100%;
		height: 50vh;
		position: relative;
		background-image: url("../images/hero-campaign.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 100px;
	}
	section.section-campaign .may-headline
	{
		max-width: 480px;
		margin: 0 auto;
	}
	.row-campaign
	{
		padding: 30px 0;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	.campaign-image .image
	{
		max-width: 400px;
		margin: 0 auto;
	}
	.campaign-image .image img
	{
		object-fit: contain;
	}
	.campaign-word
	{
		max-width: 600px;
	}
	.campaign-word .word h2.may-category
	{
		font-size: 36px;
	}
	.row-campaign
	{
		background-image: url("../images/campaign-bg-1.png"), url("../images/campaign-bg-2.png");
		background-size: 75px, 300px;
		background-repeat: no-repeat, no-repeat;
		background-position: bottom left -20px, top right;
	}
	.row-campaign:nth-child(even)
	{
		background-color: #fcf6e6;
		background-image: url("../images/campaign-bg-3.png"), url("../images/campaign-bg-4.png");
		background-size: 350px, 300px;
		background-repeat: no-repeat, no-repeat;
		background-position: top left, bottom right;
	}
	.row-campaign:last-child
	{
		margin-bottom: 100px;
	}
	/*====================================== SECTION FOOTER ======================================*/
	.footer-top
	{
		/*position: absolute;*/
		bottom: 0;
	}
	.row-footer
	{
		display: flex;
		flex-direction: row;
		align-content: center;
		align-items: center;
		margin-bottom: 350px;
	}
	.row-footer .action
	{
		margin-bottom: 25px;
	}
	.footer-image
	{
		z-index: -1;
		position: absolute;
		top: -300px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.footer-image .image
	{
		max-width: 720px;
		margin: 0 auto;
	}
	footer.footer
	{
		position: relative;
		background-color: #fbcc3e;
		padding: 50px 0 25px 0;
		background-image: url("../images/bg-signup.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom left;
	}
	footer.footer .hero-word
	{
		padding-top: 5px;
		margin-top: 0;
		max-width: 100%;
	}
	.footer-wrapper
	{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.footer-wrapper .image
	{
		max-width: 200px;
	}
	.footer-wrapper .word h2
	{
		font-size: 30px;
	}
	.footer-socmed .wrapper
	{
		display: inline-block;
	}
	.footer-socmed .wrapper a
	{
		display: block;
		font-size: 30px;
		padding: 15px 10px;
	}
	.footer-socmed .wrapper a:hover
	{
		color: inherit;
		transform: translateY(-5px);
	}
	.footer-wrapper ul
	{
		margin-left: -10px;
	}
	.footer-wrapper ul li
	{
		list-style: none;
		display: block;
		margin-bottom: 10px;
	}
	.footer-wrapper ul li:last-child
	{
		margin-bottom: 0;
	}
	.footer-wrapper ul li a
	{
		position: relative;
		width: auto;
		display: inline-block;
		border-radius: 20px;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 1.2px;
		padding: 10px 15px;
		color: #333333;
		transition: all 0.3s;
	}
	.footer-wrapper ul li:hover a
	{
		background-color: #ffffff85;
	}
	.footer-copyright .wrapper
	{
		display: inline-block;
		padding: 15px;
		transition: all 0.3s;
	}
	footer.footer:hover .footer-copyright .wrapper
	{
		border-radius: 20px;
	}
